body {
    font-family: "Times New Roman", cursive, serif, sans-serif;
    font-size: 1.1rem;
    background-color: white;
    padding-right: 0px !important;
}

#home {
    box-shadow: none;
    width: 10em;
    height: 4em;
}

hr {
    color: #222;
    width: 14.375em;
    margin-top: 0;
}

.nav-item{
    text-align: right;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

#galleryContainer {
    justify-content: space-around;
    padding-right: 6.25em;
    padding-left: 6.25em;
}

@media (max-width: 992px) {
    #galleryContainer {
        padding-right: 0em;
        padding-left: 0em;
    }
}

#gallery1 {
    margin: 0;
    padding-top: 3.75em;
    justify-content: space-around;
}

#gallery2, #gallery3, #gallery4, #gallery5 {
    margin: 0;
    padding: auto;
    padding-top: 2em;
    justify-content: space-around;
}

.galleryItem {
    padding-top: 5px;
    text-align: center;
}

.galleryImage {
    -webkit-transform: scale(1);
    transform: scale(1);
    background: #1abc9c;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 22.5em;
    height: 23.75em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-fit: cover;
}

@media (max-width: 992px) {
    .galleryImage {
        height: 20em;
    }
}

.galleryImage:hover {
    opacity: .5;
    -webkit-transform: scale(1.01);
	transform: scale(1.01);
}

.galleryItem h5 {
    color: rgb(78, 82, 82);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

.galleryItem:hover h5 {
    bottom: -36px;
    opacity: 1;
}

.zoom {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(78, 82, 82);
    font-size: 3rem;
    opacity: 0;
}

.galleryItem:hover .zoom {
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    opacity: 1;
}

.modal-dialog {
    height: 100%;
    display: flex;
    align-items: center;
}

.carousel-item img {
    object-fit: contain;
    height: 40em;
}


@media (max-width: 992px) {
    .carousel-item img {
        width: 28em !important;
        height: 17em !important;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 992px) {
    .modal-content {
        width: 30em !important;
        height: 28em !important;
        max-width: 100%; 
        max-height: 80%;
    }
}

@media (max-width: 992px) {
    .modal .modal-dialog .modal-content .modal-header {
        padding-right: 0 !important;
    }
}

#about {
    padding-top: 1.875em;
    padding-right: 1.875em;
    padding-left: 1.875em;
    text-align: center;
}

#about h5 {
    text-align: justify;
}

@media (max-width: 992px) {
    #about h5 {
        font-size: 1.027em;
    }
}

#contact {
    padding-top: 1.875em;
    padding-right: 1.875em;
    padding-left: 1.875em;
}

#contact h3, #about h3 {
    text-align: center;
}

#contact hr {
    padding-bottom: 10px;
}

footer {
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    background-color: rgb(250, 250, 247);
    border-radius: 8px;
    width: 28em;
}

.status {
    color: red;
    padding-bottom: 5px;
}

footer a {
    color: inherit;
    text-decoration: underline;
}

#footerContainer {
    padding-bottom: 1.25em;
    padding-top: 1.875em;
}

.modal-header {
    display: block;
}

.modal-header hr {
    margin-left: 0;
}